.filterbuttons {
    width: 400px;
    height: 30px;
    margin-left: 400px;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .filterbuttons td {
    border: 1px solid rgb(237 237 237);
    height: 30px;
    text-align: center;
    border-radius: 5px;
  }
  
  .latactdiv {
    display: flex;
  }
  
  .activitytbl {
    border-collapse: separate;
    border-spacing: 0 2px;
    border-radius: 2px;
    width: 933px;
    margin-top: 10px;
  }
  